@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.neutral.light');
  color: theme('colors.neutral.dark');
}

a {
  color: theme('colors.primary.DEFAULT');
  transition: color 0.2s;
}

a:hover {
  color: theme('colors.primary.dark');
}
